<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldedusoft.ldbm">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <!-- <activity android:name=".activity.LoginActivity"></activity>
       -->
        <activity android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="activity.LoginActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.home.HomeActivity">
            <intent-filter>
                <action android:name="activity.HomeActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity><!--首页-->
        <activity android:name=".activity.repair.RepairActivity"></activity><!--维修管理-->
        <activity android:name=".activity.wholeCar.WholecarActivity"></activity><!--整车管理-->
        <activity android:name=".activity.part.PartActivity"></activity><!--配件管理-->
        <activity android:name=".activity.report.ReportActivity"></activity><!--报表管理-->

        <!--维修预约-->
        <activity android:name=".activity.repair.form.AppointmentActivityYY"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="activity.repair.form.AppointmentActivityYY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--选择车辆信息，不能添加，有返回
        <activity android:name=".activity.selectActivity.CarCodeSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.CarCodeSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
-->
        <!--查询车辆信息，可以添加，有返回值-->
        <activity android:name=".activity.queryActivity.CarCodeQuery">
            <intent-filter>
                <action android:name="activity.queryActivity.CarCodeQuery"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--保存车辆信息-->
        <activity android:name=".activity.repair.form.NewCarActivity">
            <intent-filter>
                <action android:name="activity.repair.form.NewCarActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--客户信息信息-->
        <activity android:name=".activity.selectActivity.ClientSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.ClientSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--客户类别信息-->
        <activity android:name=".activity.selectActivity.ClientCategorySelect">
            <intent-filter>
                <action android:name="activity.selectActivity.ClientCategorySelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--客户类型信息-->
        <activity android:name=".activity.selectActivity.ClientTypeSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.ClientTypeSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--新建客户信息-->
        <activity android:name=".activity.repair.form.NewClientActivity">
            <intent-filter>
                <action android:name="activity.repair.form.NewClientActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--经手人信息-->
        <activity android:name=".activity.selectActivity.SalesmanSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.SalesmanSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--维修类型列表-->
        <activity android:name=".activity.selectActivity.RepairTypeSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.RepairTypeSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--业务类别列表-->
        <activity android:name=".activity.selectActivity.TrafficClassSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.TrafficClassSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--预约维修查询列表-->
        <activity android:name=".activity.queryActivity.AppointmentQueryYY">
            <intent-filter>
                <action android:name="activity.queryActivity.AppointmentQueryYY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--维修接待-->
        <activity android:name=".activity.repair.form.AppointmentActivityWX">
            <intent-filter>
                <action android:name="activity.repair.form.AppointmentActivityWX"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--维修接待查询-->
        <activity android:name=".activity.queryActivity.AppointmentQueryWX">
            <intent-filter>
                <action android:name="activity.queryActivity.AppointmentQueryWX"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--通用简单选择列表-->
        <activity android:name=".activity.selectActivity.CommonSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.CommonSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--进度查询列表-->
        <activity android:name=".activity.queryActivity.ProgressListQuery"
            android:windowSoftInputMode="stateHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="activity.queryActivity.ProgressListQuery"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--洽谈单-->
        <activity android:name=".activity.wholeCar.NegotiateActivity">
            <intent-filter>
                <action android:name="activity.wholeCar.NegotiateActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--个人洽谈单-->
        <activity android:name=".activity.wholeCar.form.NewNegotiatePersonActivity">
            <intent-filter>
                <action android:name="activity.wholeCar.NewNegotiatePersonActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--公司洽谈单-->
        <activity android:name=".activity.wholeCar.form.NewNegotiateCompanyActivity">
            <intent-filter>
                <action android:name="activity.wholeCar.NewNegotiateCompanyActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--车型列表-->
        <activity android:name=".activity.selectActivity.CarTypeSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.CarTypeSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--新建整车销售单-->
        <activity android:name=".activity.wholeCar.form.NewCarPurchaseActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="activity.wholeCar.form.NewCarPurchaseActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--整车仓库列表-->
        <activity android:name=".activity.selectActivity.CarWarehouseSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.CarWarehouseSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--车辆颜色-->
        <activity android:name=".activity.selectActivity.CarColorSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.CarColorSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--在库车辆查询-->
        <activity android:name=".activity.queryActivity.CarListQuery">
            <intent-filter>
                <action android:name="activity.queryActivity.CarListQuery"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--新建配件销售单-->
        <activity android:name=".activity.part.form.NewFixSaleActivity">
            <intent-filter>
                <action android:name="activity.part.form.NewFixSaleActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--新建配件采购单-->
        <activity android:name=".activity.part.form.NewFixPurchaseActivity">
            <intent-filter>
                <action android:name="activity.part.form.NewFixPurchaseActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--配件仓库列表-->
        <activity android:name=".activity.selectActivity.FixWarehouseSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.FixWarehouseSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <!--发票信息-->
        <activity android:name=".activity.selectActivity.InvoiceSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.InvoiceSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--配件信息-->
        <activity android:name=".activity.selectActivity.FixingSelect"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="activity.selectActivity.FixingSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--新建配件信息-->
        <activity android:name=".activity.part.form.NewFixInfoActivity">
            <intent-filter>
                <action android:name="activity.part.form.NewFixInfoActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--配件类别列表-->
        <activity android:name=".activity.selectActivity.FixingsTypeSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.FixingsTypeSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--配件车型-->
        <activity android:name=".activity.selectActivity.FixCarTypeSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.FixCarTypeSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--配件品牌-->
        <activity android:name=".activity.selectActivity.FixBrandSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.FixBrandSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--采购计划-->
        <activity android:name=".activity.selectActivity.PlanSelect">
            <intent-filter>
                <action android:name="activity.selectActivity.PlanSelect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--通用查询列表-->
        <activity android:name=".activity.queryActivity.CommonQuery">
            <intent-filter>
                <action android:name="activity.queryActivity.CommonQuery"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--全部菜单列表-->
        <activity android:name=".activity.AllMenuListActivity">
            <intent-filter>
                <action android:name="activity.AllMenuListActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ShouXieActivity">
            <intent-filter>
                <action android:name="activity.ShouXieActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.showSignature">
            <intent-filter>
                <action android:name="activity.showSignature"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ShowPictureActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="activity.ShowPictureActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ShowBigPictureActivity">
            <intent-filter>
                <action android:name="activity.ShowBigPictureActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.daiyinger.carplate.OpenCVMainActivity">
            <intent-filter>
                <action android:name="opencv.OpenCVMainActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity android:name="org.opencv.samples.facedetect.FdActivity">
            <intent-filter>
                <action android:name="org.opencv.samples.facedetect.FdActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>



    </application>


</manifest>
